.entry-content {
  margin-top: 45px;
  margin-bottom: 60px;
}
.entry-content [href$=".pdf"]:after,
.entry-content [href$=".doc"]:after,
.entry-content [href$=".docs"]:after,
.entry-content [href$=".xls"]:after,body.archive article,
.entry-content [href$=".xlsx"]:after,
.entry-content [href$=".zip"]:after {
  content: '📎';
  margin-left: 5px;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

.bypostauthor,
.gallery-caption {}


/* CUSTOM STYLE */

html {
  background: #00264d;
}
header {
  /* position: relative;
  z-index: 10; */
}

/* UI Form */

/*
input,
button,
input[type="submit"],
input[type="text"],
input[type="email"],
textarea,
select {
  padding: 10px;
  background-color: #f6f6f6;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
  display: block;
  max-width: 100%;
}
select {
  height: 45px;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline;
  box-shadow: none;
  zoom: 150%;
}
button,
input[type="submit"] {
  background-color: #65dde0;
  box-shadow: none;
  color: #004a4d;
  font-weight: 600;
  padding: .6em 1.2em;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  background-color: #3cd5d7;
  border-color: #29cbd1;
}
label {
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: 700;
  margin: 0;
}

ul,
ul li {
  padding-left: 0;
  list-style: none;
  list-style-position: outside;
}
ul li li {
  list-style-position: inside;
}

*/

/* Custom  */

@media only screen and (min-width: 576px) {
    body.ridotto {
    padding-top: 100px!important;
    }

    #mainheader {
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    }

    #mainheader.ridotto{
    /* height: 126px; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
    margin-top: -120px;
    margin-bottom: 120px
    }

    .ridotto .it-header-navbar-wrapper {
    height: 0;
    overflow: hidden;
    }

    .ridotto .menu-social {
    display: none !important;
    }

    .ridotto #site-description {
    display:none!important;
    }

}

.menu-social {
  min-height: 57px;
}

.breadcrumb {
  /* margin-top: 30px; */
  background-color: #f6f6f6;
  font-size: 16px;
}

.breadcrumb-item {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.breadcrumb-item a {
  font-weight: 600;
}

ul.page-numbers {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.page-numbers li {
  display: inline-block;
}

.page-numbers li a,
.page-numbers li span {
  display: block;
  padding: 0.5rem .9rem;
  border: solid 1px transparent;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #5b6f82;
}

.page-numbers li .current {
  color: #06c;
  border-color: #06c;
  cursor: default;
}

.page-numbers li .dots {
  padding: 0.5rem 0.1rem;
}

.page-numbers li a:hover {
  color: #0066cc;
  text-decoration: none;
  border-color: #ddd;
  /*background-color: #ddd;*/
}

.page-numbers li:first-child a,
.page-numbers li:last-child a {
  font-size: .7rem;
}

.page-numbers li:first-child a:hover,
.page-numbers li:last-child a:hover {
  border-color: transparent;
  background-color: transparent;
}

#comments {
  padding-top: 60px;
  padding-bottom: 15px;
}

#site-description {
  margin-bottom: 30px;
}

.searchform {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  /*margin-bottom: 15px;*/
}

.searchform:after {
  /*content: '🔍';*/
  content: '\e831';
  font-family: "italia-icon-font";
  font-smoothing: antialiased;
  color: #333;
  pointer-events: none;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1000;
  right: -10px;
  top: 10px;
}
.searchform label {
  display: none;
}
.searchform input[type="text"],
.searchform [type="submit"] {
  width: calc(100% - 60px);
  height: 45px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}
.searchform [type="submit"] {
  width: 60px;
  /*background-color: #f6f6f6;*/
  text-indent: -99999px;
}


.entry-content img,
.wp-post-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.panel-grid > div {
  padding: 2rem 0;
}

section.widget {
  margin-top: 1rem;
}

.widget_last_post {
  /* margin-top: 1.5rem; */
}

.widget-area .widget_last_post .widget_last_post_wrap {
  min-width: 100%;
}

.widget_last_post .widget_last_post_wrap {
  min-width: 15rem;
}

.widget_last_post .widget_last_post_inner {
  border-top: solid 1px rgba(221, 221, 221, 0.3);
  padding: 1rem 2rem 1rem 0rem;
}

.widget_last_post .widget_last_post_inner .wp-post-image {
  max-width: 70px;
}

.widget_last_post .widget_last_post_inner h5 {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.widget_last_post .widget_last_post_inner h4 {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 1rem 0;
}

.widget_category_mansory {
  margin-bottom: 1.5rem;
}

.widget_category_mansory .widget-title {
  margin-bottom: 1.5rem;
}

.widget_category_mansory .card img {
  margin: 0;
}

.-area .widget-container {
  margin-bottom: 30px;
}

.it-footer-main .lista-sezioni {
  padding: 0;
  margin-bottom: 28px;
}

.it-footer-main .col-footer {
  padding-right: 14px;
  padding-left: 14px;
}

#footer {
  background-color: #00264d;
  color: #fff;
}

#footer hr {
  border-color: rgba(255, 255, 255, .8);
}

#footer .nav li {
  padding: 15px 30px 15px 0;
}

#footer h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 8px 0;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #796c31;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: middle;
}

@media (max-width: 767px) {
  #footer h4 {
    border: 0;
    padding: 24px 0 0 0;
  }
}

#footer a {
  color: #65dcdf;
}

#footer h4 a {
  vertical-align: middle;

  /* font-size: 0.788rem; */
}

#footer .disable a {
  color: inherit;
}

#footer .footer-list {
  list-style-type: none;
  margin: 15px 0;
  padding: 0;
}

@media (max-width: 767px) {
  #footer .lista-sezioni .footer-list {
    border-bottom: 1px solid #796c31;
    padding: 0 0 24px 34px;
    margin: 0;

    /* font-size: 1em; */
  }
}

#footer .footer-list li {
  margin: 0;
}

#footer .footer-list li a {
  display: block;
}

#footer h4 svg.icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  margin-right: 16px;
  fill: #fff;
}

@media (max-width: 767px) {
  #footer h4 svg.icon {
    margin-right: 8px;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  #footer h4 svg.icon {
    margin-right: 2px;
  }
}

.copyright {
  padding-top: 20px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 15px;
}

#content {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 60px;
}
body.home #content {
  padding-top: 1px;
  padding-bottom: 1px;
}
body.home .header {
  display: none;
}
body.archive article,
body.search article {
  border-bottom: solid 1px #ddd;
  padding: 1rem 0 2rem;
}

.home-widget {
  padding-top: 30px;
  background-color: #eee;
}

.home-content > .container > .post {
  display: inline-block;
  clear: both;
}

.home-content > .container > .post:nth-child(n+2) {
  border-top: solid 1px #ddd;
  padding-top: 60px;
}

.widget-area {
  /* padding: 30px 0; */
}

#footer .widget-area li {
  /* border-top: solid 1px rgba(221, 221, 221, 0.3); */
}

.widget-area li {
  list-style: none;

  /* border-top: solid 1px #ddd; */
  padding: 5px 0;
}

.widget-area li ul {
  padding: 15px 0px 0px 0px;
  text-indent: 15px;
}

.widget-area li li {
  border: none;
}

.widget-area a {
  /* font-weight: 600; */
}

.widget-area span {
  display: block;
  font-size: 80%;
}

.widget-area .wp-post-image {
  width: 100px;
  width: 90%;
  height: auto;
  float: left;
  margin: 10px 10px 5px 0;
}

.widget-area.primary-widget-area .widget-container,
.widget-area.page-widget-area .widget-container {
  margin-bottom: 30px;
}

#cookie-notice {
  background-color: #00264d !important;
  color: #fff !important;
  padding: 15px 30px;
  font-size: 100%;
}

.cookie-notice-container {
  text-align: left;
  max-width: 1150px;
  margin: 0 auto;
  line-height: 2em;
}

#cn-accept-cookie {
  font-weight: bold;
  background: #65dde0;
  border-color: #50d8dc !important;
  color: #004a4d !important;
  border-radius: 0;
  padding: 10px 20px;
}

#cookie-notice a {
  color: #65dde0;
}

.nav-tabs:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
  box-shadow: 0 0 2rem rgba(0, 0, 0, .15);
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80%;
  height: 50%;
  border-radius: 100%
}

/* SO - Accordion e tebs */

#container .sow-tabs-tab-container,
#container .sow-tabs-panel-container {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

#container .sow-tabs-panel-container .sow-tabs-panel {
  padding: 15px 30px 30px;
}

#container .sow-tabs-tab-container .sow-tabs-tab {
  font-weight: 600;
  color: #5c6f82;
  border-bottom: 2px solid transparent
}

#container .sow-tabs-tab-container .sow-tabs-tab:hover {
  background-color: transparent;
  border-bottom: 2px solid #b1b1b3
}

#container .sow-tabs-tab-container .sow-tabs-tab-selected {
  border-bottom: 2px solid #06c;
  color: #06c;
  background-color: transparent;
}

#container .sow-accordion .sow-accordion-panel {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: -1px;
}

#container .sow-accordion .sow-accordion-panel-header {
  background-color: transparent;
  color: #06c;
  font-weight: 600;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

#container .sow-accordion .sow-accordion-panel-header:hover {
  background-color: #e6ecf2;
}

#container .sow-accordion .sow-accordion-panel-content .sow-accordion-panel-border {
  background-color: transparent;
}

#container .sow-icon-ionicons[data-sow-icon]:before {
  content: '\e818';
  font-family: italia-icon-font;
}

#container .sow-accordion-panel-open .sow-accordion-title,
#container .sow-accordion-panel-open .sow-icon-ionicons[data-sow-icon]:before {
  color: #5c6f82;
}

#container .sow-accordion-panel-open .sow-icon-ionicons[data-sow-icon]:before {
  content: '\e810';
}

#container .sow-accordion .sow-accordion-panel-open .sow-accordion-title:before {
  height: 2px;
  width: 56px;
  border-radius: 2px;
  background-color: #0073e6;
  position: absolute;
  top: 0;
  display: block;
  content: "";
  left: 25px;
}

#container .ow-button-base a.ow-button-hover:hover {
  text-decoration: none;
}

.ow-button-base a {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.sow-tabs-panel-container {
  box-shadow: 0px -2px 0px 0px rgba(0,0,0,.15);
  /* box-shadow: 0px 30px 20px -30px inset rgba(0,0,0,.2); */
  z-index: 0;
}


/* SO - Slider post */

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 {
  text-align: left !important;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 a {
  text-align: left;
  font-weight: 700;
  font-size: 1em;
}

/* .sow-carousel-title a.sow-carousel-next,
.sow-carousel-title a.sow-carousel-previous {
	background: transparent;
  height: 30px;
  width: 30px;
  line-height: initial;
}
.sow-carousel-title a.sow-carousel-next:before,
.sow-carousel-title a.sow-carousel-previous:before {
	font-family: "italia-icon-font";
	font-size: 3em;
	color: #65dcdf;
}
.sow-carousel-title a.sow-carousel-previous:before {
	content: '\e803';
}
.sow-carousel-title a.sow-carousel-next:before {
	content: '\e804';
}
.sow-carousel-title a.sow-carousel-next:hover,
.sow-carousel-title a.sow-carousel-previous:hover {
	background: inherit;
}
.sow-carousel-title a.sow-carousel-next:hover:before,
.sow-carousel-title a.sow-carousel-previous:hover:before {
	color: #333;
}*/

/* Widget Calendar */

#wp-calendar {
  width: 100%;
  max-width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
}

#wp-calendar td,
#wp-calendar th {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  vertical-align: middle;
  border-top: 1px solid #d6dce3;
}

#wp-calendar thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #d6dce3;
}

#wp-calendar tbody + tbody {
  border-top: 2px solid #d6dce3;
}

#wp-calendar .table {
  background-color: #fff;
}

.border-top-thick {
  border-width: 1rem !important;
}

@media only screen and (min-width: 768px) {
  #toTop {
    bottom: 10px;
  }
}

.it-category a {
  color: #fff !important;
}

.transition {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 992px) {
  .figure {
    max-width: 50%;
  }
}

.dropdown-menu[x-placement=top-start]:before {
  left: auto;
  right: 24px;
}

.it-header-wrapper .it-nav-wrapper .it-brand-wrapper {
  padding-left: 0;
}

.it-header-center-wrapper.it-small-header {
  height: auto;
  min-height: 82px;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper nav {
  padding-left: 0 !important;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content span.nav-mobile ul.link-list {
  margin: 0;
}

.visuallyhidden {
  display: none;
}

.logosite {
  max-width: 64px;
  max-height: 64px;
}

#searchModal {
  z-index: 1100;
  padding: 0 !important;
}

#searchModal .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: 100%;
}

#searchModal .modal-dialog .modal-content {
  height: 100%;
  overflow-y: auto;
}

#searchModal .modal-header .row {
  background-color: #ddd;
}

#searchModal .modal-header .close {
  background-color: #999;
  float: none!important;
  padding: 0;
  margin: 0;
}

.button-wrapper {
  padding: 0;
}

#searchbutton-modal {
  padding: 7px 14px;
}

#searchModal input.form-control {
  font-weight: 300;
  color: #9b9b9b;
  height: 56px;
  border: 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 16px 24px;
  font-size: .889em;
}

#searchModal .form-filter {
  margin-top: 24px;
  margin-bottom: 48px;
  height: 35px;
}

#searchModal .form-filter .btn-group-toggle {
  display: inline-block;
  margin: 0 5px 10px 0;
}

#searchModal .form-filter label {
  position: unset;
}

#searchModal .form-filter label,
#searchModal .form-filter label.active,
#searchModal .form-filter label.focus {
  transform: none;
  line-height: calc(2rem - 1px);
  font-size: 0.889em;
  font-weight: 600;
  box-shadow: none;
}

#searchModal .form-filter label.focus.active {
  color: #fff;
  background-color: #0059b3;
}

#searchModal .form-filter label:hover {
  color: unset;
  background-color: unset;
}

label.ctrl-btn-label {
  color: #0059b3;
}

label.ctrl-btn-label .icon {
  vertical-align: middle;
  fill: #0059b3;
  width: 20px;
  height: 20px;
}

#searchModal .form-filter label.active .icon {
  fill: #fff;
}

#searchModal .ricerca_sezione_filtri {
  display: none;
}

#searchModal .form-group {
  margin-bottom: 1.5rem;
}

.cb-main {
  font-weight: 600;
}

.it-hero-wpid {
  padding: 60px 15px 15px;
}

#poststuff h2 {
  letter-spacing: normal;
}
